header.header
  .container
    .logo
      a(href="/") Логотип
    nav.nav
      ul.nav__list
        li.nav__item: a.nav__link(href="/") Главная
        li.nav__item: a.nav__link(href="/about") О нас
        li.nav__item: a.nav__link(href="/contacts") Контакты