doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Мой проект
    link(rel="stylesheet", href="css/style.min.css")
  
  body
    include html/header.pug
    
    main.page
    block.block
      h1 Hello worla! Facilis voluptatem hic numquam nesciunt quib
    include html/footer.pug
    
    script(src="js/app.min.js")