doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Мой проект
    link(rel="stylesheet", href="css/style.min.css")
  
  body
    include html/header.pug
    
    main.page
      h1 Hello wor
      img(src="img/photo_2026-03-31_22-44-20.jpg", alt="")
    
    include html/footer.pug
    
    script(src="js/app.min.js")